{% extends 'base.html' %}
{% block title %}Todo etusivu{% endblock %}

{% block heading %}Todo-ohjelma{% endblock %}

{% block content %}
<a href="{% url 'tietoa' %}">tietoa </a>
<ul>
    {% for tehtava in tehtavat %}
    <li>
        <a href="{% url 'tehtava' tehtava.id %}" style="color: lightcoral">
            {{ tehtava }}
            {% if tehtava.kategoria %}
                (Kategoria:  {{ tehtava.kategoria }})
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
