<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tehtava {{ tehtava }}</title>
</head>
<body>
    <h1 class="otsikko">{{ tehtava }}</h1>
    {% if tehtava.tehty %}
        <p><b>Tehty!</b></p>  
    {% else %}
        <p><form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Merkitse tehdyksi"/>
            <input type="hidden" name="toiminto" value="merkitse_tehdyksi"/>
        </form></p>
    {% endif %}
    
    <p>Kategoria: 
        {% if tehtava.kategoria %}
            {{ tehtava.kategoria }}
        {% else %}
            &mdash;
        {% endif %}
        <!-- 123&nbsp;€ nbsp; не позволяет разбить текст! -->
    </p>
    <p><a href="{% url 'etusivu' %}">etusivu </a></p>
</body>
</html>