{% extends 'base.html' %}
{% block title %}Tehtävä: {{ tehtava }}{% endblock %}

{% block heading %}Tehtävä: {{ tehtava }}{% endblock %}

{% block content %}
    {% if tehtava.tehty %}
        <div class="alert alert-success">
            <span>Tehty!</span> 
        </div>
    {% else %}
        <p>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Merkitse tehdyksi"/>
                <input type="hidden" name="toiminto" value="merkitse_tehdyksi"/>
            </form>
        </p>
    {% endif %}
    
    <p>Kategoria: 
        {% if tehtava.kategoria %}
            {{ tehtava.kategoria }}
        {% else %}
            &mdash;
        {% endif %}
        <!-- 123&nbsp;€ nbsp; не позволяет разбить текст! -->
    </p>
    <p><a href="{% url 'etusivu' %}">etusivu </a></p>
{% endblock %}